body {
    font-family: 'Proxima Nova', Georgia, sans-serif !important;
}

.navbar {
    border-color: #e7e7e7;
    height: 65px;
    width: auto;
    display: flex;
    justify-content: space-between;
    background: black;   
}

.logo-container {
    height: 50px;
    width: 145px;
}

.logo-container > img {
    padding: 10px;
    width: 100%;
}
.navbar-left {
    display: flex;
}

.navbar-right {
    display: flex;
    margin-left: auto;
}

.navbar-left > div {
    align-self: center;
    text-align: center;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-right > div {
    align-self: center;
    text-align: center;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

.phone-number {
    font-size: 20px;
}

.message {
    background-color: #C89674;
    border: 1px solid #ccc;
    border-radius: 0px;
    padding: 0px 15px;
    font-size: 12px;
}

.message:hover {
    opacity: 0.8;
    filter: alpha(opacity=50);
}

.message-left {
    display: flex;
    flex-direction: row;
    margin-top: 2px;
}

.message-right {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
}

.word {
    margin-left: -15px;
    margin-right: -15px;
}

.message-line {
    border-bottom: 1px solid #fff;
    margin-bottom: 0px;
    margin-top: -2px;
    padding-bottom: 0px;
}
/* Banner */

.banner {
    position: relative;
    min-height: 250px;
    background-image: url(../frontend/assets/picture.jpeg);
    background-size: cover;
    background-position: 0 30%;
    display: flex;
    justify-content: center;
}

.overlay {
    margin-top: 120px;
    margin-bottom: 30px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(25, 25, 25, .4);
    opacity: 0.8;
    filter: alpha(opacity=50);
}

.banner-text {
    text-align: center;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 20px;
    width: 83.333333%;
}

/* Form */

.form-main {
    margin: 0 16.66666667% 16.66666667% 16.66666667%;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.page-text {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.page-heading {
    text-align: center;
    width: 100%;
    font-size: 30px;
}

.page-subtext {
    text-align: center;
    width: 100%;
    font-size: 18px;
    margin: 20px 0 0 0;
}

.input-left {
    margin: 25px 25px 0 25px;
    width: 100%;
    height: 145px;
}

.input-right {
    margin: 25px 25px 0 25px;
    width: 100%;
    height: 145px;
}

.indicator {
    color: #a94442;
    font-size: 24px;
    line-height: 28px;
    padding-left: 2px;
}

.label-container {
    display: flex;
    justify-content: center;
    max-width: 600px;
}

select {
    height: 40px;
    width: 100%;
    padding-right: 15px;
    max-width: 600px;
}

input {
    height: 40px;
    width: 100%;
    padding-right: 15px;
    max-width: 600px;
}

.input-text {
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    color: #888;
    min-height: 20px;
    margin-top: 5px;
    line-height: 18px;
    width: 100%;
}

textarea {
    height: 40px;
    width: 100%;
    padding-right: 15px;
    max-width: 600px;
}

label {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    min-height: 28px;
}

.date-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#birthday {
    margin: 0 10px;
    text-align: center;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.option-btn {
    height: 45px;
    width: 95px;
    text-align: center;
    line-height: 40px;
    background-color: #ccc;
    color: #fff;
    font-weight: 200;
    cursor: pointer;
    border: none;
}

.option-btn:hover {
    background-color: gray;
}

.option-btn-active {
    height: 45px;
    width: 95px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-weight: 200;
    cursor: pointer;
    border: none;
    background-color: #00B9D7;
}

.option-btn-active:hover {
    background-color: gray;
}

.form-btn {
    height: 44px;
    width: 35%;
    min-width: 250px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    cursor: pointer;
    border: none;
    margin-top: 40px;
    background-color: #00B9D7;
}

.photo-main {
    margin: 0 16.66666667% 16.66666667% 16.66666667%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drag-drop-container {
    font-size: 20px;
    height: 260px;
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    
    height: 260px;
    border: 1px dashed #333;
    margin-top: 40px;
    cursor: pointer;
}

.photo-text {
    color: #F27172;
    font-size: 20px;
    font-weight: 200;
}

.picture-icon {
    font-size: 50px;
    color: #ccc;
}

.photo-btn {
    height: 44px;
    width: 35%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    cursor: pointer;
    border: none;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #F27172;
}

.results-container {
    margin: 40px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results-heading {
    text-align: center;
}

th {
    vertical-align: middle !important;
    text-align: center !important;
}

.status-container {
    display: flex;
    height: 145px;
    flex-direction: column;
    justify-content: center;
    margin: 0 10% 0 10%;
    /* padding: 5% 15% 5% 15%; */
}

.status-row {
    display: flex;
    justify-content: center;
}

.status-icon {
    border: 2px solid #333;
    border-radius: 25px;
    z-index: 1;
}

.page-number {
    text-align: center;
    font-size: 24px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #fff;
    color: #ccc;
    border: 1px solid #ccc;
    cursor: pointer;
}

.page-number-active {
    text-align: center;
    font-size: 24px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: black;
    background-color: #fff;
    border: 2px solid #333;
    cursor: pointer;
}

.page-desc {
    margin-top: 10px;
    font-size: 14px;
}

.bottom-box {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.status-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line {
    width: 30%;
    height: 25px;
    border-bottom: 1px solid #ccc;
    position: absolute;
    z-index: -1;
}